@charset "UTF-8";
* {
  font-family: "微軟正黑體";
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

section {
  padding: 50px 0px;
}

nav.navbar {
  transition: 0.5s;
}
nav.navbar a.navbar-brand {
  font-weight: 600;
}
nav.navbar.navbar-default.navbar-fixed-top a {
  transition-duration: 0.5s;
}
nav.navbar.navbar-default.navbar-fixed-top a:hover {
  color: #374163;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-top {
  background-color: transparent;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top a {
  color: #eee;
  transition: 0.5s;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top a:hover {
  color: #bcd;
}

#section_title {
  padding: 0px;
}
#section_title .col-md-12 {
  padding: 230px 150px;
}
#section_title .col-md-12:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
#section_title .pic1:before {
  background-image: url(https://i.pinimg.com/564x/ae/f0/1f/aef01f6caa5dd20ea55bbd7c6246d972.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
  filter: brightness(0.7);
}
#section_title .container-fluid {
  color: white;
  text-align: center;
}
#section_title .container-fluid hr {
  max-width: 500px;
  border: solid 1px;
}
#section_title .container-fluid h4 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: normal;
}

section#section_intro {
  text-align: center;
  background-color: #374163;
  color: #eee;
}
section#section_intro hr {
  max-width: 100px;
  border: solid 2px #eee;
}
section#section_intro .col-sm-12.features {
  margin-top: 50px;
  margin-bottom: 30px;
}
section#section_intro i {
  font-size: 90px;
  margin-bottom: 10px;
}

section#section_descript .col-sm-5.img {
  background-image: url(https://i.pinimg.com/564x/42/a3/d1/42a3d1cadacab8efb7d670c6dcb1ee8a.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
}
section#section_descript .col-sm-7 p {
  font-size: 22px;
  margin-top: 80px;
  padding: 0px 15px;
  color: #374163;
}

section#section_flowchart {
  background-color: #bcd;
  text-align: center;
}
section#section_flowchart h2 {
  color: #374163;
}
section#section_flowchart hr {
  border: solid 2px #374163;
  color: #374163;
  max-width: 100px;
}
section#section_flowchart .icon {
  cursor: pointer;
  margin-top: 10px;
  padding: 30px;
  text-align: center;
  transition: 0.5s;
}
section#section_flowchart .icon h4 {
  transition: 0.7s;
  color: #374163;
}
section#section_flowchart .icon img {
  width: 100%;
}
section#section_flowchart .icon:hover {
  padding: 20px;
}
section#section_flowchart .icon:hover h4 {
  font-size: 25px;
}

section#section_detail .col-sm-8 {
  padding: 0px 30px;
  margin-top: 20px;
}
section#section_detail p {
  font-size: 18px;
}
section#section_detail .col-sm-4.pic1 {
  background-image: url(https://i.pinimg.com/564x/c7/0d/f9/c70df9000415bd2fc32969119a749604.jpg);
  height: 280px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
section#section_detail .col-sm-4.pic2 {
  background-image: url(https://i.pinimg.com/564x/26/16/bd/2616bd08f1d77c7a6ac031f7828addf1.jpg);
  height: 280px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
section#section_detail .col-sm-4.pic3 {
  background-image: url(https://i.pinimg.com/564x/97/21/8e/97218e938dfc0b49ae0513b4b63de1e4.jpg);
  height: 280px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
section#section_detail .col-sm-4.pic4 {
  background-image: url(https://i.pinimg.com/originals/11/ef/24/11ef244f94ff4a0060408db00ed2dd90.jpg);
  height: 280px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

section#section_team {
  text-align: center;
  background-color: #374163;
  color: #eee;
}
section#section_team .col-sm-2.img, section#section_team .col-sm-3.img {
  text-align: center;
}
section#section_team .col-sm-2.img img, section#section_team .col-sm-3.img img {
  width: 100%;
  border-radius: 50%;
}
section#section_team .col-sm-3.img {
  margin-left: 10px;
  margin-right: 25px;
}
section#section_team .col-sm-2.img {
  margin-top: 45px;
  margin-right: 10px;
}
section#section_team .col-sm-6.pic {
  margin-top: 20px;
  background-image: url(https://i.pinimg.com/564x/ba/aa/14/baaa140d9559e1a6c4cc853282eb1a24.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 20% center;
  height: 280px;
}
section#section_team .col-sm-6.t {
  height: 280px;
  margin-top: 20px;
}
section#section_team .col-sm-6.t h2 {
  padding-top: 10%;
  padding-left: 20%;
  font-size: 45px;
}
section#section_team .col-sm-6.t h3 {
  padding-left: 20%;
  opacity: 0.7;
}

footer.jumbotron {
  text-align: center;
  margin-bottom: 0px;
}